<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>obenkyo2</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <input type="text" v-model="message" />
      <button v-on:click="handleClick" >Add Todo</button>
    </div>
    <ol>
      <li v-for='(todo, index) in todos' v-bind:key='todo.id'>{{ todo.value }}</li>
    </ol>
  </div>

<script>

let id = 1;

const app = new Vue({
  el: '#app',
  data: {
    todos: [
      { id: id++, value: 'aaa' },
      { id: id++, value: 'bbb' },
      { id: id++, value: 'ccc' },
    ],
    message: ''
  },
  methods: {
    handleClick: function () {
      this.todos.push({ id: id++, value: this.message });
    }
  },
});


</script>
</body>
</html>